* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


///header start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.first-head {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.185);

    .head-left {
        img {
            width: 60%;
        }
    }

    .head-middle {
        ul {
            margin: 0;

            li {

                position: relative;
                background-color: #fff;

                &:hover {
                    .drop-town {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                        background-color: #fff;
                    }
                }

                .drop-town {
                    position: absolute;
                    border-top: 2px solid #3BBCA7;
                    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.271);
                    background-color: #fff;
                    width: 300px;
                    border-radius: 10px;
                    transition: 0.2s ease-in-out;
                    top: 130%;
                    padding: 20px 30px;
                    opacity: 0;
                    visibility: hidden;
                    line-height: 35px;
                    z-index: 10;



                    ul {

                        li {


                            a {
                                color: #232328;
                                font-weight: 600;
                                display: inline-block;
                                transition: 0.3s ease-in-out;

                                &:hover {
                                    color: #3BBCA7;
                                }
                            }
                        }
                    }


                }

                .hover-me {
                    &:hover {
                        .drop-town2 {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }



                .myA {
                    color: #232328;
                    font-weight: 500;
                    display: inline-block;
                    padding: 30px 0px;
                    transition: 0.3s ease-in-out;

                    i {
                        font-size: 10px;
                        margin-left: 10px;
                    }

                    &:hover {
                        color: #3BBCA7;
                    }

                    &.first-child {
                        color: #3BBCA7;

                    }
                }
            }
        }
    }

    .head-right {
        .form-btn {
            height: 50px;
            border-radius: 5px;
            width: 60%;
            background-color: #F8F8F8;
            display: flex;



            input {
                height: 100%;
                width: 80%;
                padding: 15px;
                border: none;
                background-color: transparent;
            }

            i {
                width: 20%;
                height: 100%;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                color: #3BBCA7;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: black;
                }
            }
        }

        .basket {
            margin-left: 20px;
            border-right: 1px solid gray;
            padding-right: 20px;
            font-size: 20px;
            cursor: pointer;
            padding: 5px 20px;
        }

        .user {
            margin-left: 20px;
            margin-right: 5px;
            font-size: 13px;
        }

        a {
            color: #232328;
            font-weight: 500;
            display: inline-block;
            padding: 20px 0px;
            transition: 0.3s ease-in-out;

            &:hover {
                color: #3BBCA7;
            }
        }

        .first-a {
            margin-right: 5px;
        }

        .first-b {
            margin-left: 5px;
        }
    }
}

.head-right-click {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 10;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.541);

    &.right-click-active {
        opacity: 1;
        visibility: visible;
    }

    .mini-right-click {
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: relative;
        z-index: 9999;


    }

    .right-click-basket {
        position: absolute;
        width: 400px;
        background-color: #fff;
        height: 180px;
        right: 20px;
        transition: 0.3s ease-in-out;
        text-align: center;
        transform: translateX(500px);
        z-index: 99999;

        &.right-basket-active {
            transform: translateX(0);
        }

        p {
            margin-top: 30px;
            font-size: 20px;
            font-family: cursive;
        }

        top: 20px;
        border-radius: 10px;
    }

}

.search-click-big {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.381);
    top: 0%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.sac-active {
        opacity: 1;
        visibility: visible;
    }
}

.responsive-header {
    background-color: #415674;
    z-index: 2;
    color: #fff;
    width: 100%;
    // padding: 10px;
    position: relative;

    .responsive-right {
        width: 100%;
        display: flex;
        justify-content: end;
        position: relative;

        .icon2 {
            position: absolute;
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
            right: 6px;
            top: -2px;
            font-size: 30px;

            &.icon-2-active {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }

        .icon1 {
            transform: scale(1);
            opacity: 1;
            visibility: visible;

            &.icon-1-active {
                opacity: 0;
                visibility: hidden;
                transform: scale(0);
            }
        }



        i {
            transition: 0.3s ease-in-out;
            font-size: 25px;
            cursor: pointer;
        }


        .search-click {
            position: absolute;
            transform: scale(0);
            transition: 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            width: 300px;
            background-color: #fff;
            box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.34);
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: 0.3s ease-in-out;
            padding: 10px;
            right: 0%;
            top: 200%;
            border-radius: 10px;

            &.sc-active {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }

            .input-box {
                background-color: #F7F7F7;
                border-radius: 8px;

                input {
                    background-color: transparent;
                    // width: 80%;
                    height: 50px;
                    outline: none;
                    border: none;
                    padding: 10px;
                    margin: 0%;
                }

                button {
                    background-color: transparent;
                    height: 50px;
                    border: none;
                    border-radius: 10px;
                    margin: 0%;
                    width: 50px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: #183D6B;

                        i {
                            color: #fff;
                        }
                    }

                    i {
                        transition: 0.3s ease-in-out;
                        font-size: 20px;
                        color: #183D6B;
                    }
                }
            }
        }
    }


    .responsive-left {
        display: flex;

        .bars {
            font-size: 25px;
        }
    }



}

//header finish>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


#sect1 {
    width: 80%;
    margin: auto;
    padding: 40px;


    .sect1-head {
        text-align: center;
    }

    .big-box {
        width: 100%;
        margin: auto;

        height: 60vh;
        position: relative;

        span {
            width: 17px;
            cursor: pointer;
            z-index: 10;
            height: 17px;
            background-color: gray;
            position: absolute;
            border-radius: 100%;

            &.clc-active {
                background-color: aqua;
            }
        }

        .sp1 {
            right: 55%;
            bottom: 0%;
        }

        .sp2 {
            right: 53%;
            bottom: 0%;
        }

        .sp3 {
            right: 51%;
            bottom: 0%;
        }
    }

    .boxes {
        width: 100%;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        opacity: 0;
        top: 0%;
        left: 0%;
        transition: 0.3s ease-in-out;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .box-left {
            width: 100%;
            // height: 300px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 100%;
                width: 100%;
            }
        }

        .box-right {
            width: 100%;
            // height: 300px;

            h1 {
                font-size: 22px;
                width: 100%;
                line-height: 35px;
                color: #183D6B;
                margin-bottom: 30px;
            }

            h2 {
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: 600;
            }

            p {
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

#footer {
    background-color: #F6F7F9;
    padding: 6%;
}

.foot-left {
    p {
        color: #666666;
        margin-top: 20px;
        font-size: 16px;
        line-height: 28px;
    }

    i {
        border: 1px solid #289684;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #3bbca7;
        cursor: pointer;
        background-color: #fff;
        margin-top: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #3BBCA7;
            color: #fff;
        }
    }
}

.foot-mid {
    ul {
        h1 {
            color: #072F60;
            font-size: 18px;
            margin-bottom: 35px;
        }

        li {
            line-height: 40px;

            a {
                text-decoration: none;
                display: inline-block;
                color: #666666;
                font-size: 16px;
                font-weight: 500;

                &:hover {
                    color: #31c2aa;
                }
            }
        }
    }
}

.foot-right {
    ul {
        margin: 0%;
        padding: 0%;

        h1 {
            color: #072F60;
            font-size: 18px;
            margin-bottom: 35px;
        }

        li {
            line-height: 40px;
            margin: 0%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0%;

            i {
                font-size: 16px;
                color: #289684;
                margin-right: 7px;
            }

            p {
                font-size: 16px;
                margin: 0%;
                color: #666666;
            }
        }
    }
}














/******************HOME SECTION 6************************************/
#rated {
    padding: 5% 0px;

    .news {
        text-align: center;
        padding: 60px 0px;

        h1 {
            font-weight: bolder;
            color: #072f60;

            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 15%;
                height: 46%;
                background-color: rgb(255, 204, 0);
                z-index: -1;
                top: 16px;
                border-radius: 20px;
            }
        }
    }

    .inform {
        .inform-box1 {
            a {
                position: relative;

                img {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }

                h6 {
                    position: absolute;
                    left: 37px;
                    bottom: 60px;
                    color: white;
                    background-color: #3bbca7;
                    padding: 10px;
                    border-radius: 20px;
                    width: 20%;
                    text-align: center;


                }
            }

            .blog-post1 {
                .blog-post-icon {
                    padding: 15px;

                    a {
                        text-decoration: none;

                        i {
                            color: #3bbca7;
                        }

                        span {
                            color: grey;
                            padding: 6px;
                        }
                    }
                }
            }

            h3 {
                color: #072f60;
                font-weight: bolder;
                font-size: 25px;
            }

            p {
                color: rgb(109, 108, 108);
                width: 90%;
                padding: 20px 0;
            }
        }

        .inform-box2 {

            a {
                position: relative;

                img {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }

                h6 {
                    position: absolute;
                    left: 37px;
                    bottom: 60px;
                    color: white;
                    background-color: #3bbca7;
                    padding: 8px;
                    border-radius: 20px;
                    width: 20%;
                    text-align: center;


                }

                .slow-play {
                    position: absolute;
                    left: 45%;
                    bottom: 18%;
                    padding: 20px;
                    border-radius: 50%;
                    background-color: white;
                    font-size: 25px;
                    color: #072f60;
                    transition: 0.5s;

                    &:hover {
                        background-color: #3bbca7;
                        color: white;
                    }
                }
            }

            .blog-post2 {
                .blog-post-icon {
                    padding: 15px;

                    a {
                        text-decoration: none;

                        i {
                            color: #3bbca7;
                        }

                        span {
                            color: grey;
                            padding: 6px;
                        }
                    }
                }
            }

            h3 {
                color: #072f60;
                font-weight: bolder;
                font-size: 25px;
            }

            p {
                color: rgb(109, 108, 108);
                width: 90%;
                padding: 20px 0;
            }
        }

        .inform-box3 {

            a {
                position: relative;

                img {
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }

                h6 {
                    position: absolute;
                    left: 37px;
                    bottom: 60px;
                    color: white;
                    background-color: #3bbca7;
                    padding: 8px;
                    border-radius: 20px;
                    width: 20%;
                    text-align: center;


                }
            }

            .blog-post3 {
                .blog-post-icon {
                    padding: 15px;

                    a {
                        text-decoration: none;

                        i {
                            color: #3bbca7;
                        }

                        span {
                            color: grey;
                            padding: 6px;
                        }
                    }
                }
            }

            h3 {
                color: #072f60;
                font-weight: bolder;
                font-size: 25px;
            }

            p {
                color: rgb(109, 108, 108);
                width: 90%;
                padding: 20px 0;
            }
        }
    }
}

// *****************Home sECTION 6 FINISH************************/

// SECTION7 SATRT>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#business {
    padding: 90px 0px 50px 0px;

    .business-box {
        padding: 50px 90px 50px 90px;
        background-color: #3bbca7;
        border-radius: 10px;

        .course-box1 {
            width: 95%;
            padding-left: 65px;
            height: 240px;

            h1 {
                color: white;
                font-weight: bolder;
            }

            h6 {
                color: white;
                font-size: 18px;
                font-weight: bolder;

            }

            a {
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: bolder;
                background-color: white;
                text-align: center;
                border-radius: 4px;
                width: 150px;
                height: 50px;
                transition: 0.6s;

                span {
                    color: black;
                }

                &:hover {
                    background-color: #253966;

                    span {
                        color: white;

                    }
                }
            }

        }

        .course-box2 {
            background: url(/SHP3.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            text-align: center;
        }
    }
}

// SECTION7 FINISH>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.container1 {
    width: 85%;
    margin: auto;
}

//*********************HOME SECTION ONE START*******************************/
#section-top {
    padding: 5%;
    width: 100%;
    // height: 100vh;

    .tabs{
        // border: 2px solid red;
        display: flex;
        justify-content: flex-end;
        transition: 0.3s ease-in-out;

        
        button{
            margin-right: 30px;
            transition: 0.3s ease-in-out;
            background-color: transparent;
            border: none;
            &.active{
                background-color: black;
                color: #FFF;
            }
            &:hover{
                color: #35cab1;
            }
            padding: 20px;
            font-size: 17px;
            font-weight: bold;
            font-family: cursive;
        }
    }


    figure{
        transform: scale(1);
        transition: 0.3s ease-in-out;

        &.figure-active{
            visibility: hidden;
            transform: scale(0);
            position: absolute;
        }
    }

    .item {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.6);
        

        .text-box {
            padding: 20px;
            border-bottom: 2px solid rgba(128, 128, 128, 0.367);

            .text-box-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .cooking-gays {
                    color: green;
                    background-color: rgba(0, 128, 0, 0.147);
                    padding: 6px;
                    border-radius: 5px;
                    display: inline-block;
                    transition: 0.3s ease-in-out;
                    font-weight: bolder;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    cursor: pointer;
                    &:hover{
                        background-color: #072F60;
                        color: #fff;
                    }
                }
    
                .my-dollar{
                    font-weight: bolder;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 17px;
                    color: gray;
                }
            }

            a{
                transition: 0.3s ease-in-out;
                display: inline-block;
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: bold;
                color: #183D6B;
                cursor: pointer;
                &:hover{
                    color: #3bbca7;
                }
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-bottom: 20px;
            }

            .img-span{
                color: gray;
                font-size: 17px;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        }

        .text-bottom{
            padding: 20px;
            .text-bot-left{
                i{
                    color: #289684;
                }
                span{
                    color: gray;
                    margin-left:6px;
                    font-weight: bold;
                    font-family: cursive;
                }
            }
            .text-bot-right{
                i{
                    color: gold;
                    margin-left: 20px;
                }
            }
        }





        &:hover {
            .img-box {
                .overlay-img {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .img-box {
            position: relative;

            img {
                width: 100%;
            }

            .overlay-img {
                position: absolute;
                transition: 0.3s ease-in-out;
                opacity: 0;
                visibility: hidden;
                top: 0%;
                width: 100%;
                height: 100%;
                left: 0%;
                background-color: rgba(40, 36, 36, 0.34);
            }
        }
    }
}

.grid{
    column-count: 3;
    // column-gap: 10px;
    transition: 0.5s ease-in-out
}

//*********************HOME SECTION ONE START*******************************/


//*********************HOME SECTION TWO START*******************************/
#top-two {
    padding: 5rem;

    .head2 {
        text-align: center;

        p {
            font-weight: bold;
            font-size: 30px;
            z-index: 1;
            position: relative;
            color: #072F60;

            &::after {
                content: '';
                position: absolute;
                top: 30%;
                z-index: -1;
                left: 32%;
                width: 140px;
                border-radius: 8mm;
                height: 25px;
                background-color: #f9c650;
            }
        }
    }

    .common {
        position: relative;

        .learn {
            margin: 35px 0;
            position: relative;
            text-align: center;
            padding: 4rem 2rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            background: url(https://thepixelcurve.com/wp/lmsmart/lp/wp-content/uploads/sites/2/2022/01/ad1@2xbg.jpg);

            p {

                // width: 90%;
                color: #072F60;
                font-size: 23px;
                font-weight: 700;


            }

            span {

                color: gray;
            }

            a {
                display: inline-block;
                margin-top: 20px;
                text-decoration: none;
                color: white;
                background-color: #3BBCA7;
                padding: 10px 18px;
                font-weight: bold;
                transition: 0.5s;

                &:hover {
                    background-color: #072F60;
                }
            }

            .image-1 {
                margin-top: 40px;

            }


        }


        .elements2 {
            background-color: white;
            margin: 35px 0;
            box-shadow: 0px 0px 20px 5px rgb(197, 196, 196);

            .menu2 {
                border-top-left-radius: 2mm;
                border-top-right-radius: 2mm;
                overflow: hidden;
                position: relative;

                &:hover {
                    .overlay1 {
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                }

                .overlay1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.5s;
                    background-color: rgba(0, 0, 0, 0.311);
                }
            }

            .details2 {
                width: 80%;
                margin: auto;
                margin-top: 30px;

                a {
                    font-size: 12px;
                    text-decoration: none;
                    border-radius: 8px;
                    font-weight: bold;
                    padding: 7px 15px;
                    background-color: rgb(238, 238, 238);
                    color: #3BBCA7;
                    transition: 0.3s;

                    &:hover {
                        background-color: #3BBCA7;
                        color: white;
                    }
                }

                span {
                    font-size: 17px;
                    font-weight: bold;
                    color: #072F60;
                }
            }

            .course2 {
                width: 80%;
                margin: auto;
                margin-top: 20px;

                a {
                    text-decoration: none;
                    color: #072F60;
                    font-weight: bold;
                    font-size: 17px;
                    display: inline-block;
                    width: 90%;
                    transition: 0.3s;

                    &:hover {
                        color: #3BBCA7;
                    }
                }

                .person2 {
                    margin-top: 20px;
                    color: gray;

                    p {
                        display: inline-flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;

                    }

                    img {
                        border-radius: 100%;
                        width: 100%;
                    }
                }
            }

            hr {
                color: gray;
            }

            .star2 {
                padding-bottom: 20px;

                li {
                    padding-left: 20px;
                    color: black;
                    font-size: 15px;
                    color: gray;
                    padding-right: 10px;

                    &:nth-child(1) {
                        i {
                            color: #72bcaf;
                            padding-right: 5px;
                        }
                    }

                    &:nth-child(2) {
                        i {
                            padding-right: 5px;
                            color: #79bdb2;
                        }
                    }

                    i {
                        color: #FFB60A;
                    }
                }
            }
        }

        .explore {
            background-color: #3BBCA7;
            text-decoration: none;
            padding: 15px 25px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            position: absolute;
            left: 40%;
            transition: 0.5s;

            &:hover {
                background-color: #072F60;
            }
        }
    }
}

//*********************HOME SECTION TWO START*******************************/




@media (max-width:576px) {
    #top-one {
        .tutorials {
            text-align: center;
        }
    }

    #top-two {
        .explore {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width:577px) and (max-width:768px) {
    #top-one {
        .tutorials {
            text-align: center;

        }
    }

    #top-two {
        .explore {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width:767px) and (max-width:1024px) {
    #top-one {
        .tutorials {
            text-align: center;
        }
    }

    #top-two {
        .explore {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}